{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  <div style="display: flex; justify-content: space-between;">
    <div style="flex: 1; padding-right: 20px;">
      {{ content | safe }}
    </div>
    <div style="flex: 1; padding-left: 20px;">
      <img src="/images/social-share.jpg" style="max-width: 80%; height: auto;" />
    </div>
  </div>
{% endset %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/post-list.njk" %}
    {% include "partials/components/pagination.njk" %}
  </main>
{% endblock %}
